/* .landingPage {
  background-image: url(../../assets/Group\ 17.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
} */

/* .divPage {
  background-image: url(../../assets/Group\ 17.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
} */
