@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ***** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
 

  background-color: #0b101b;
  

  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.landing-page-div {
  background-image: url(../src/assets/Group.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #0b101b;
}

@media screen and (max-width: 768px) {
  :root {
    background-image: none;
  }

  .landing-page-div {
    background-image: url(../src/assets/Cubes.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

